<div class="caja-edicion">
  <span class="indice-item">{{educacion.id}}</span>

    <app-boton
      claseBoton="boton-edicion"
      (btnClick)="modalEdicion()"
      icono="fas fa-pencil-alt"
      titulo="Editar"
    ></app-boton>

    <span class="campo">Institución:</span><p class="contenido">{{educacion.escuela}}</p>
    <span class="campo">Título/Curso:</span><p class="contenido">{{educacion.titulo}}</p>
    <span class="campo">Descripción:</span><p class="contenido">{{educacion.comentario}}</p>
    <span class="campo">Fecha de inicio:</span><p class="contenido">{{educacion.inicio}}</p>
    <span class="campo">Finalizado:</span><p class="contenido">{{educacion.fin}}</p>

    <app-boton
      claseBoton="boton-edicion"
      (btnClick)="modalEliminar()"
      icono="fa-solid fa-delete-left"
      titulo="Eliminar"
    ></app-boton>

    <div *ngIf ="editarItem == true">
      <app-editar-educacion
        [objetoEdicion]="educacion"
        (cerrar)="modalEdicion()"
      ></app-editar-educacion>
    </div>


    <div *ngIf ="eliminarItem == true">
      <app-modal-eliminar
        [objetoAEliminar]="educacion"
        (cerrar)="modalEliminar()"
        (eliminarRegistro)="transmitirObjeto($event)"
      ></app-modal-eliminar>
    </div>

</div>
