<div class="container seccion">

        <app-boton
        claseBoton="boton-agregar"
        (btnClick)="modalAgregar()"
        texto=""
        titulo="Agregar registro"
        icono="fas fa-plus"
      ></app-boton>

      <h2 class="titulo-seccion" id="seccion-educacion">EDUCACION</h2>


      <div *ngIf ="agregarItem == true">
        <app-modal-agregar
          [coleccionObjetos]="educacionLista"
          (cerrar)="modalAgregar()"
          (altaRegistro)="alta($event)"
        ></app-modal-agregar>
      </div>

      <div class="items">
        <app-educacion-item
          *ngFor="let educacion of educacionLista"
          [educacion]="educacion"
          (actualizarDatos)="actualizar($event)"
          (borrarDatos)="eliminar($event)"
        ></app-educacion-item>
      </div>

</div>
