<div class="container seccion">

      <h2 class="titulo-seccion" id="seccion-educacion">EDUCACION</h2>

      <div *ngIf ="logeado == true">
        <app-boton
          claseBoton="boton-agregar"
          (btnClick)="modalAgregar()"
          texto=""
          titulo="Agregar nuevos estudios"
          icono="fas fa-plus"
        ></app-boton>
      </div>

      <div *ngIf ="agregarItem == true">
        <app-agregar-educacion
          [coleccionObjetos]="educacionLista"
          (cerrar)="modalAgregar()"
        ></app-agregar-educacion>
      </div>

      <div class="items">
        <app-educacion-item
          *ngFor="let educacion of educacionLista"
          [educacion]="educacion"
          (borrarDatos)="eliminar($event)"
        ></app-educacion-item>
      </div>
</div>
