<div class="container encabezado">

  <img
    src="../../assets/imagenes/logo_ap.png"
    alt="logo argentina programa"
    class="logo-ap"
    [ngClass]="clase"
  >

  <app-boton
    claseBoton="boton-header"
    (btnClick)="alternarTemaColor()"
    icono={{cambiar}}
    titulo="Cambiar tema"
  ></app-boton>


  <app-boton
    claseBoton="boton-header"
    (btnClick)="mostrarCorreo()"
    icono="fas fa-envelope"
    titulo="Correo electrónico"
  ></app-boton>

  <app-boton
    claseBoton="boton-header"
    (btnClick)="cerrarSesion()"
    icono="fas fa-sign-out-alt"
    titulo="Cerrar sesión"
  ></app-boton>
</div>
