<div class="container seccion">

  <app-boton
    claseBoton="boton-agregar"
    (btnClick)="modalAgregar()"
    texto=""
    titulo="Agregar nuevas experiencias laborales"
    icono="fas fa-plus"
  ></app-boton>

  <h2 class="titulo-seccion" id="seccion-experiencia">EXPERIENCIA LABORAL</h2>

      <div *ngIf ="agregarItem == true">
        <app-agregar-experiencia
          [coleccionObjetos]="experienciaLista"
          (cerrar)="modalAgregar()"
        ></app-agregar-experiencia>
      </div>

    <div class="items">
      <app-experiencia-item
        *ngFor="let experiencia of experienciaLista"
        [experiencia]="experiencia"
        (borrarDatos)="eliminar($event)"
      ></app-experiencia-item>
    </div>

</div>
