
<div class="fondo-modal">
  <div class="contenido-modal">

    <app-boton
      claseBoton="boton-cerrar"
      (btnClick)="cerrarModal()"
      icono="fas fa-window-close"
      titulo="Cancelar y cerrar"
    ></app-boton>

    <h1 class="titulo-modal">ELIMINAR DATOS</h1>

    <p class="aclaracion">IMPORTANTE: esta acción no se puede deshacer.</p>

    <p class="subtitulo">DATOS A ELIMINAR:</p>
    <pre class="resultado">{{objetoAEliminar | json}}</pre>

    <app-boton
      claseBoton="boton-eliminar"
      (btnClick)="eliminarObjeto()"
      icono="fa-solid fa-check"
      texto="ELIMINAR "
    ></app-boton>

    <app-boton
      claseBoton="boton-cerrar"
      (btnClick)="cerrarModal()"
      icono="fas fa-window-close"
      titulo="Cancelar y cerrar"
    ></app-boton>

  </div>

</div>
