<div class="caja-edicion">

    <app-boton
      *ngIf="logeado"
      claseBoton="boton-edicion"
      (btnClick)="modalEdicion()"
      icono="fas fa-pencil-alt"
      titulo="Editar"
    ></app-boton>

  <p class="contenido">{{conocimiento.nombre}}</p>

  <app-progreso-circular
    porcentaje="{{progreso}}"
  ></app-progreso-circular>

  <app-boton
    *ngIf="logeado"
    claseBoton="boton-edicion"
    (btnClick)="modalEliminar()"
    icono="fa-solid fa-delete-left"
    titulo="Eliminar"
  ></app-boton>

  <div *ngIf ="editarItem == true">
    <app-modal-edicion
      [objetoEdicion]="conocimiento"
      (cerrar)="modalEdicion()"
      (editarRegistro)="transmitirEdicion($event)"
    ></app-modal-edicion>
  </div>


  <div *ngIf ="eliminarItem == true">
    <app-modal-eliminar
      [objetoAEliminar]="conocimiento"
      (cerrar)="modalEliminar()"
      (eliminarRegistro)="transmitirObjeto($event)"
    ></app-modal-eliminar>
  </div>

</div>
