<div class="container seccion">

  <h2 class="titulo-seccion" id="seccion-conocimientos">CONOCIMIENTOS</h2>

  <app-boton
    claseBoton="boton-agregar"
    (btnClick)="modalAgregar()"
    texto=""
    titulo="Agregar registro"
    icono="fas fa-plus"
  ></app-boton>

  <div *ngIf ="agregarItem == true">
    <app-modal-agregar
      [coleccionObjetos]="conocimientosLista"
      (cerrar)="modalAgregar()"
      (altaRegistro)="alta($event)"
    ></app-modal-agregar>
  </div>

  <div class="items">
    <app-conocimiento-item
      *ngFor="let conocimiento of conocimientosLista"
      [conocimiento]="conocimiento"
      (borrarDatos)="eliminar($event)"
    ></app-conocimiento-item>
  </div>

</div>
