<div class="container seccion">
  <h2 class="titulo-seccion">CONOCIMIENTOS</h2>
  <ul>
    <li *ngFor="let conocimientos of conocimientosLista">

      <div class="caja-edicion">

        <app-boton
          *ngIf="logeado"
          claseBoton="boton-edicion"
          (btnClick)="editar()"
          icono="fas fa-pencil-alt">
        </app-boton>

        <span class="campo">Nombre:</span>
        <p class="contenido">{{conocimientos.nombre}}</p>
        <span class="campo">Porcentaje:</span>
        <p class="contenido">{{conocimientos.progreso}}</p>

    </div>
    </li>
  </ul>
</div>
