<div *ngFor="let persona of datosPersona" class="container seccion">

  <div class="reticula-acerca">

      <div class="caja-edicion acerca item-banner">

        <div *ngIf ="logeado == true">
          <app-boton
          claseBoton="boton-edicion"
          (btnClick)="modalEdicion()"
          icono="fas fa-pencil-alt"
          titulo="Editar">
        </app-boton>
      </div>

        <img
          [src]="persona.banner"
          alt="Banner"
          class="banner img-fluid"
        >
      </div>

      <div class="caja-edicion item-perfil">
        <div *ngIf ="logeado == true">
          <app-boton
            claseBoton="boton-edicion"
            (btnClick)="modalEdicion()"
            icono="fas fa-pencil-alt"
            titulo="Editar">
          </app-boton>
        </div>

        <img
          [src]="persona.foto"
          alt="foto"
          class="foto-perfil img-fluid"
        >
      </div>

      <div class="caja-edicion acerca item-nombre">

        <div *ngIf ="logeado == true">
          <app-boton
            claseBoton="boton-edicion"
            (btnClick)="modalEdicion()"
            icono="fas fa-pencil-alt"
            titulo="Editar">
          </app-boton>
        </div>

        <h3 class="nombre">{{persona.nombre}}</h3>
      </div>

      <div class="caja-edicion acerca item-titulo">

        <div *ngIf ="logeado == true">
          <app-boton
            claseBoton="boton-edicion"
            (btnClick)="modalEdicion()"
            icono="fas fa-pencil-alt"
            titulo="Editar">
          </app-boton>
        </div>

        <h2 class="titulo">{{persona.titulo}}</h2>
      </div>

      <div class="caja-edicion acerca item-descripcion">

        <div *ngIf ="logeado == true">
          <app-boton
            claseBoton="boton-edicion"
            (btnClick)="modalEdicion()"
            icono="fas fa-pencil-alt"
            titulo="Editar">
          </app-boton>
        </div>

        <span class="campo">SOBRE MI:</span>
        <p class="contenido">{{persona.descripcion}}</p>
      </div>

    </div>

    <div *ngIf ="editarItem == true">
      <app-editar-acerca
        [objetoEdicion]="persona"
        (cerrar)="modalEdicion()"
      ></app-editar-acerca>
    </div>

</div>
