<div *ngFor="let persona of datosPersona" class="container seccion">


  <div class="caja-edicion acerca">

    <app-boton
      *ngIf="logeado"
      claseBoton="boton-edicion"
      (btnClick)="editar()"
      icono="fas fa-pencil-alt">
    </app-boton>

    <img
      [src]="persona.banner"
      alt="Banner"
      class="banner img-fluid"
    >

  </div>

  <div class="caja-edicion perfil">
    <app-boton
      *ngIf="logeado"
      claseBoton="boton-edicion"
      (btnClick)="editar()"
      icono="fas fa-pencil-alt">
    </app-boton>

    <img
      [src]="persona.foto"
      alt="foto"
      class="foto-perfil img-fluid"
    >
  </div>


  <div class="caja-edicion acerca">
    <app-boton
      *ngIf="logeado"
      claseBoton="boton-edicion"
      (btnClick)="editar()"
      icono="fas fa-pencil-alt">
    </app-boton>
    <h3 class="nombre">{{persona.nombre}}</h3>
  </div>

  <div class="caja-edicion acerca">
    <app-boton
      *ngIf="logeado"
      claseBoton="boton-edicion"
      (btnClick)="editar()"
      icono="fas fa-pencil-alt">
    </app-boton>
    <h2 class="titulo">{{persona.titulo}}</h2>
  </div>

  <span class="campo">SOBRE MI:</span>

  <div class="caja-edicion acerca">
    <app-boton
      *ngIf="logeado"
      claseBoton="boton-edicion"
      (btnClick)="editar()"
      icono="fas fa-pencil-alt">
    </app-boton>
    <p class="contenido">{{persona.descripcion}}</p>
  </div>

</div>
