.boton-header{
  color:inherit !important;
  font-size: 16px !important;
  letter-spacing: 1px !important;
  font-weight: bolder !important;
  white-space: nowrap !important;
  border: none !important;
  float:right;
  text-shadow: 1px 2px 3px rgba(60, 60, 60, 0.57);
}

.boton-header:hover{
  color:rgb(83, 23, 224) !important;
  border: none !important;
}

.boton-edicion {
  display:block;
  font-size: 1rem;
  color:rgb(83, 23, 224);
  border:none;
  text-shadow: 1px 2px 7px rgba(60, 60, 60, 0.57);
  user-select: none;
}

.boton-agregar {
  display:block;
  font-size: 1.5rem;
  color:rgb(83, 23, 224);
  border:none;
  text-shadow: 1px 2px 7px rgba(60, 60, 60, 0.57);
  float:right;
  position: relative;
  user-select: none;
}

.boton-cerrar {
  display:block;
  font-size: 1rem;
  color:rgb(227, 16, 16);
  border:none;
  float:right;
  text-shadow: 1px 2px 7px rgba(60, 60, 60, 0.57);
  user-select: none;
}

.boton-eliminar{
  display:block;
  font-size: 1rem;
  color:rgb(255, 37, 99);
  border:none;
  user-select: none;
}

.boton-restaurar{
  display:block;
  font-size: 2rem;
  color:rgb(83, 23, 224);
  border:none;
  margin:auto;
  text-shadow: 1px 2px 7px rgba(60, 60, 60, 0.57);
  user-select: none;
}
