.boton-header{
  color:inherit !important;
  font-size: 16px !important;
  letter-spacing: 1px !important;
  font-weight: bolder !important;
  white-space: nowrap !important;
  border: none !important;
}

.boton-header:hover{
  color:rgb(128, 128, 128) !important;
  border: none !important;
}

.boton-edicion {
  display:block;
  font-size: 1em;
  color:red;
  border:none;
}

.boton-agregar {
  display:block;
  font-size: 2em;
  color:red;
  border:none;
}

.boton-cerrar {
  display:block;
  font-size: 1em;
  color:red;
  border:none;
  float:right;
}

.boton-eliminar{
  display:block;
  font-size: 1em;
  color:rgb(209, 188, 0);
  border:none;
}
