<div class="fondo-modal">
  <div class="contenido-modal">

    <h1 class="titulo">EDITAR DATOS</h1>

    <form (ngSubmit)="guardarEdicion()" ngNativeValidate>


      <div *ngFor="let campo of objetoEdicion | keyvalue, let i=index">
          <label [for]="campo.key">{{campo.key}}:</label>
          <input
            type="text"
            [name]="campo.key"
            [id]="campo.key"
            [placeholder]="campo.value"
            [(ngModel)]="registroEditado[campo.key]"
            class="form-control campo-formulario"
            required
          />
      </div>

      <h2 class="subtitulo" >Contenido original:</h2>

      <div *ngFor="let campo of objetoEdicion | keyvalue">
        <p><b>{{campo.key}}: </b>{{campo.value}}</p>
      </div>

      <input type="submit" value="Confirmar cambios" class="btn">

    </form>


    <app-boton claseBoton="boton-cerrar" (btnClick)="cerrarModal()" icono="fas fa-window-close"></app-boton>
  </div>

</div>
