<div class="fondo-modal">
  <div class="contenido-modal">

    <h1>EDITAR DATOS</h1>
    <p><strong>No cambiar ID.</strong></p>

    <form class="" (ngSubmit)="guardarEdicion()">


      <div class="form-control" *ngFor="let campo of objetoEdicion | keyvalue, let i=index">
          <label [for]="campo.key">{{campo.key}}:</label>
          <input
            type="text"
            [name]="campo.key"
            [id]="campo.key"
            [placeholder]="campo.value"
            [(ngModel)]="registroEditado[campo.key]"

          />
      </div>

      <h4>Contenido original:</h4>

      <div *ngFor="let campo of objetoEdicion | keyvalue">
        <p><b>{{campo.key}}:</b>{{campo.value}}</p>
      </div>

      <input type="submit" value="Confirmar cambios" class="btn btn-block">

    </form>


    <app-boton claseBoton="boton-cerrar" (btnClick)="cerrarModal()" icono="fas fa-window-close"></app-boton>
  </div>

</div>
