/*Modo color*/

body {
  color: rgb(22, 22, 22);
  background-color: rgb(236, 233, 233);
}

body.tema-oscuro {
  color: #fff;
  background-color: rgb(22, 22, 22);
}


/*Secciones*/

.seccion{
  padding-bottom: 5vh;
}

.nombre {
  font-variant: small-caps;
  font-weight: lighter;
  letter-spacing: 0.3vw;
  font-size: 2.5vw;
  margin-top: 1vw;
}

.titulo{
  font-family: serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 3.5vw;
  margin-top: 1vw;
  margin-bottom: 3vw;
}

.titulo-seccion {
  margin-top:2vw;
  margin-bottom: 1vw;
  letter-spacing: 0.1vw;
  font-weight: bold;
  font-size: 3vw;
  user-select: none;
}

.campo{
  font-size: 2.5vw;
  font-weight: bold;
  letter-spacing: 0.1vw;
}
.contenido{
  font-size: 2.3vw;
  font-style: oblique;
}

.caja-edicion{
  width: fit-content;
  height: fit-content;
  padding: 1vw 1vw;
  margin-top:1em;
  background-color: rgba(145, 145, 145, 0.26);
  border-radius: 1em;
}

.indice-item{
  float: right;
  margin-right:0;
  font-style: oblique;
  font-weight: bolder;
  font-family: serif;
  font-size: 3vw;
  color:rgba(145, 145, 145, 0.26);
}

/*modal*/

.fondo-modal{
  position: fixed;
  z-index: 1;
  padding-top: 5vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.contenido-modal{
  color:rgb(22, 22, 22);
  padding:3vw 3vw;
  width:80vw;
  min-height: 50vh;
  max-height: 90vh;
  background-color: antiquewhite;
  margin:auto;
  overflow:scroll;
}

.contenido-modal h1 {
  text-align: center;
}

.campo-formulario{
  display:inline-block !important;
  background-color:transparent !important;
  border-width:0 0 1px 0 !important;
  font-style: italic;
}

.enviar-formulario{
  background-color: rgb(71, 207, 155);
  margin-bottom: 2em;
  margin-top:2em;
  padding:0.5em 0.5em;
}

.aclaracion{
  background-color: rgb(255, 123, 0);
  padding: 1vw 1vw;
  width: fit-content;
  margin:1em auto;
}
