/*Modo color*/

body {
  color: #222;
  background-color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

body.tema-oscuro {
  color: #fff;
  background-color: #222;
}

/*Imagenes*/

.logo-ap {
  width: 100px;
  height: auto;
  transition-duration: 0.6s;
}

.logo-ap:hover {
  filter: opacity(50%);
}

.boton{
  font-size: 0.7em !important;
}
