/*Modo color*/

body {
  color: #222;
  background-color: rgb(236, 233, 233);
}

body.tema-oscuro {
  color: #fff;
  background-color: #222;
}

/*Imagenes*/

.logo-ap {
  width: auto;
  height: 2.5em;
  transition-duration: 0.6s;
}


.img-invertida {
  filter:invert(1);
}


/*botones y enlaces*/

.boton{
  font-size: 0.6em !important;
  letter-spacing: 0.1em !important;
  font-weight: bolder !important;
  white-space: nowrap !important;
  color:rgb(221, 106, 77) !important;
  border: 1px solid rgb(221, 106, 77) !important;
}

.boton:hover{
  color:rgb(153, 73, 55) !important;
  border: 1px solid rgb(153, 73, 55) !important;
}

.lista-menu {
  list-style: none;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.enlace-menu {
  background-color: rgb(221, 106, 77);
  width:fit-content;
  padding:0.1em 0.7em;
  margin-bottom: 0.5em;
  border-bottom-left-radius: 0.7em;
}

.texto-menu {
 color: inherit;
 text-decoration: none;
 font-size: 1.7em !important;
 font-weight: bold;
 letter-spacing: 0.2em;
 vertical-align: middle;
 user-select: none;
}

@media only screen and (max-width: 766px) {
  .texto-menu {
    font-size: 0.7em !important;
   }
}


.texto-menu:hover {
  color:rgb(153, 73, 55);
}


/*Secciones*/

.inicio {
  display:grid;
  grid-template-columns: 1fr;
}

.item1{
  grid-area: 1/1/2/2;
}
.item2{
  grid-area: 1/1/2/2;
  position: relative;
}

.encabezado {
  margin-top:0.7em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 70% 1fr 1fr;}

  .navegacion {
    width:fit-content;
    float:right;
    margin-top:25vh;
  }
