<nav class="navegacion">
  <ul class="lista-menu">
      <li class="enlace-menu"><a class="texto-menu" routerLink="/experiencia">EXPERIENCIA</a></li>
      <li class="enlace-menu"><a class="texto-menu" routerLink="/educacion">EDUCACION</a></li>
      <li class="enlace-menu"><a class="texto-menu" routerLink="/conocimientos">CONOCIMIENTOS</a></li>
      <li class="enlace-menu"><a class="texto-menu" routerLink="/proyectos">PROYECTOS</a></li>
      <li class="enlace-menu"><a class="texto-menu" routerLink="/completo">VER TODO</a></li>
  </ul>
</nav>
