<nav class="navegacion">
  <ul class="lista-menu">
    <li class="enlace-menu"><a class="texto-menu" routerLink="/educacion" fragment="seccion-educacion">EDUCACION</a></li>
    <li class="enlace-menu"><a class="texto-menu" routerLink="/experiencia" fragment="seccion-experiencia">EXPERIENCIA</a></li>
    <li class="enlace-menu"><a class="texto-menu" routerLink="/conocimientos" fragment="seccion-conocimientos">CONOCIMIENTOS</a></li>
    <li class="enlace-menu"><a class="texto-menu" routerLink="/proyectos" fragment="seccion-proyectos">PROYECTOS</a></li>
    <li class="enlace-menu"><a class="texto-menu" routerLink="/completo" fragment="seccion-completo">VER TODO</a></li>
  </ul>
</nav>
