.lista-menu {
  list-style: none;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.enlace-menu {
  background: rgba(0, 255, 183, 0.323);
  width:fit-content;
  padding:0.2rem 0.7rem;
  margin-bottom: 1vw;
  border-bottom-left-radius: 0.7vw;
  border-top-left-radius: 0.7vw;
  box-shadow: rgba(0, 0, 0, 0.168) 0px 19px 38px, rgba(0, 0, 0, 0.152) 0px 15px 12px;
}

.texto-menu {
 color: inherit;
 text-decoration: none;
 font-size: 1rem !important;
 font-weight: bolder;
 letter-spacing: 0.1rem;
 vertical-align: middle;
 user-select: none;
}

@media only screen and (min-width: 768px) {
  .texto-menu {
    color: inherit;
    text-decoration: none;
    font-size: 2rem !important;
    font-weight: bolder;
    letter-spacing: 0.15rem;
    vertical-align: middle;
    user-select: none;
   }
}

.texto-menu:hover {
  color:rgb(1, 196, 141);
}
