
<div class="container inicio">
<form (ngSubmit)="enviar($event)" [formGroup]="formulario">
  <div class="form-group input-inicio">
    <label for="user">Usuario:</label>
    <input type="text" class="form-control campo-formulario" id="usuario" formControlName="usuario" placeholder="Ingresar nombre de usuario"
    [ngClass]="{'is-invalid': Usuario?.errors && Usuario?.touched, 'is-valid': !Usuario?.errors && Usuario?.touched}">
    <div *ngIf="Usuario?.errors && Usuario?.touched">
      <p *ngIf="Usuario?.hasError('required')" class="text-danger">
        Debe ingresar un nombre de usuario.
      </p>
    </div>
  </div>

  <div class="form-group input-inicio">
    <label for="clave">Contraseña:</label>
    <input type="password" class="form-control campo-formulario" id="clave" formControlName="clave" placeholder="Ingresar contraseña"
    [ngClass]="{'is-invalid': Clave?.errors && Clave?.touched, 'is-valid': !Clave?.errors && Clave?.touched}">
    <div *ngIf="Clave?.errors && Clave?.touched">
      <p *ngIf="Clave?.hasError('required')" class="text-danger">
        Debe ingresar una contraseña.
      </p>
      <p *ngIf="Clave?.hasError('minlength')" class="text-danger">
        La contraseña debe ser de 8 o más caracteres.
      </p>
    </div>
  </div>
  <button type="submit" class="btn btn-dark btn-enviar">Enviar</button>
</form>
</div>
