<div class="fondo-modal">
  <div class="contenido-modal">

    <h1 class="titulo-modal">AGREGAR REGISTRO</h1>
    <p class="aclaracion">A éste nuevo registro le corresponde el número de ID:<strong> {{numeroId}}</strong>.</p>

    <form (ngSubmit)="guardarObjeto()" ngNativeValidate>

      <div *ngFor="let campo of objeto | keyvalue">
          <label [for]="campo.key">{{campo.key}}:</label>
          <input
            type="text"
            [name]="campo.key"
            [id]="campo.key"
            [placeholder]="'Ej: ' + campo.value"
            [(ngModel)]="nuevoRegistro[campo.key]"
            class="form-control campo-formulario"
            required
          />
      </div>

      <input type="submit" value="Agregar nuevo registro" class="enviar-formulario">

    </form>


    <app-boton
      claseBoton="boton-cerrar"
      (btnClick)="cerrarModal()"
      icono="fas fa-window-close"
      titulo="Cancelar y cerrar"
    ></app-boton>
  </div>

</div>
